[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 540px;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.sliderWrapper {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}
.arrow {
  background-color: rgba(0,0,0,.4);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 10px;
}

.arrow--right {
  left: auto;
  right: 10px;
}

.slideNumber {
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  color: #FFF;
  display: flex;
  background-color: rgba(0,0,0,.6);
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 5px 10px;
  min-width: 90px;
}

.buttonRow {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: -22px;
}

.buttonRowButton {
  display: flex;
  background-image: none;
  border: none;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  width: 44px;
  margin: 0 5px;
  height: 44px;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
  align-items: center;
  cursor: pointer;
}

.buttonRowButton svg {
  height: 20px;
  width: 20px;
}

.flagContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
}

.newFlag {
  background-color: rgb(217, 34, 40);
  color: #FFF;
  padding: 3px 10px;
  margin-right: 10px;
}

.openHouse {
  background-color: rgb(51, 51, 51);
  color: #FFF;
  padding: 3px 10px;
}